# Ignore logs
airflow/logs

# Ignore Airflow temp files
airflow/tmp
airflow/*.pid

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
.venv
*.egg-info

# Ignore OS junk
.DS_Store

# Test / dev files
tests/
*.log
.coverage
htmlcov/
pytest_cache/

# Docker itself
Dockerfile
.dockerignore


